{include file="Public/head"}

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
            <!-- Page Sidebar -->
            {include file="Public/left"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                    <li>
                        <a href="{:url('index/index')}">系统</a>
                    </li>
                        <li class="active">友情链接列表</li>
                        </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                    
    <button type="button" tooltip="添加链接" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href ='{:url('add')}'"> <i class="fa fa-plus"></i>
       添加链接
    </button>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget">
                <div class="widget-body">
                    <div class="flip-scroll">
                        <form action="" method="post">
                        <table class="table table-bordered table-hover">
                            <thead class="">
                            <tr>
                                <th class="text-center">链接名称</th>
                                <th class="text-center">链接地址</th>
                                <th class="text-center">链接描述</th>
                                <th class="text-center" width="8%">排序</th>
                                <th class="text-center" width="30%">操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            {volist name="linkres" id="link"}
                                <tr>
                                    <td align="center">
                                        {$link.title}
                                    </td>
                                    <td align="center">
                                        <a href=" {$link.url}" target="_blank">
                                            {$link.url}
                                        </a>
                                    </td>
                                    <td align="center">
                                        {$link.desc}
                                    </td>
                                    <td align="center">
                                        <input type="text" name="{$link.id}" value="{$link.sort}" style="width:40px;text-align: center;"/>
                                    </td>

                                    <td align="center">
                                        <a href="{:url('edit',array('id'=>$link['id']))} " class="btn btn-primary btn-sm shiny">
                                            <i class="fa fa-edit"></i> 编辑
                                        </a>
                                        <a href="{:url('del',array('id'=>$link['id']))}" onClick="warning('确实要删除吗', '')" class="btn btn-danger btn-sm shiny">
                                            <i class="fa fa-trash-o"></i> 删除
                                        </a>
                                    </td>
                                </tr>
                             {/volist}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="width:40px;text-align: center;"><input class="btn btn-primary btn-sm shiny" type="submit" value="排序"></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                    <div style="margin:5px;">{$linkres->render();}</div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
</div>

</div>
        <!-- /Page Body -->
</div>
    <!-- /Page Content -->
    </div>
</div>

	    <!--Basic Scripts-->
    <script src="__ADMIN__/style/jquery_002.js"></script>
    <script src="__ADMIN__/style/bootstrap.js"></script>
    <script src="__ADMIN__/style/jquery.js"></script>
    <!--Beyond Scripts-->
    <script src="__ADMIN__/style/beyond.js"></script>
    


</body></html>